<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>SEProject</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/style.css">
    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div id="app">

        <div>
            <nav class="navbar navbar-inverse">
                <div>
                    <div class="col-sm-4">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">Tool Management</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!--Left screen-->

        <div v-bind:class="leftScreenSize">

            <div class="tab">
                <button class="tablinks" onclick="openLeftTab(event, 'Tools')" id="defaultOpen1">Tools</button>
                <button class="tablinks" onclick="openLeftTab(event, 'Components')">Components</button>
                <button class="tablinks" onclick="openLeftTab(event, 'add')">Add Items</button>
            </div>
            <div id="Tools" class="tabcontentLeft">
                <div>
                    <div>
                       <br/>
                        <!--Generating table content-->
                       <div v-for="tool in tools_filtered_by_searchAndBox"></div>
                    </div>
                    <div>
                        <div class="col-sm-12">
                            <label for="toolTable">Select all tools from</label>
                            <select id="toolTable" v-model="SelectMachine">
                                <option value="all" checked>All</option>
                                <option value="notInstalled">Not installed</option>
                                <option v-for="machine in uniqueMachines">{{machine}}</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <vue-bootstrap-table 
                                             :columns="toolColumns" 
                                             :values="toolValues" 
                                             :show-filter="showFilter" 
                                             :show-column-picker="showPicker" 
                                             :paginated="paginated" 
                                             :multi-column-sortable="multiColumnSortable" 
                                             :row-click-handler="handleRowFunction" 
                                             :filter-case-sensitive="filterCaseSensitive"
                                             :page-size=10>
                        </vue-bootstrap-table>
                    </div>
                </div>
            </div>
            <div id="Components" class="tabcontentLeft">
                <div class="row">
                    <vue-bootstrap-table 
                                         :columns="partColumns" 
                                         :values="partValues" 
                                         :show-filter="showFilter" 
                                         :show-column-picker="showPicker" 
                                         :paginated="paginated" 
                                         :multi-column-sortable="multiColumnSortable" 
                                         :row-click-handler="handleRowFunction" 
                                         :filter-case-sensitive="filterCaseSensitive"
                                         :page-size=10>
                    </vue-bootstrap-table>
                </div>

            </div>
            <div id="add" class="tabcontentLeft">
                <h3>Add</h3>
                <p>Empty</p>
            </div>
        </div>

        <!--Right screen-->
        <div v-if="rightScreenShow" class="rightScreenSize">

            <div class="tab">
                <button class="tablinks" onclick="openRightTab(event, 'Details')" id="defaultOpen">Details</button>

                <button class="tablinks" onclick="openRightTab(event, 'Other')">Other</button>
            </div>

            <div id="Details" class="tabcontentRight">
                <div class="row">
                    <div class="col-sm-2">
                        <div v-if="toolDetailFromRowClicked">
                            <h3 v-if = "selectedRowIsTool">Detailed Tool Info</h3>
                            <h3 v-if = "!selectedRowIsTool">Detailed Part Info</h3>
                        </div>
                        <div>
                            <table class="table table-responsive">
                                <tr v-for="key in selectedToolArrayKeys">
                                    <th>{{key}}</th>
                                    <td>{{selectedToolArrayValues[selectedToolArrayKeys.indexOf(key)]}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div >
                            <h3 v-if="selectedRowIsTool">Included Parts Info</h3>
                        </div>
                        <div v-if="selectedRowIsTool">
                            <div v-for="part in selectedTool_IncludedPartsValueFilter"></div>
                            <div>
                                <vue-bootstrap-table :columns="partColumns"
                                                     :values="selectedTool_IncludedPartsValue"
                                                     :row-click-handler="handleRowFunction" 
                                                     :show-column-picker="showPicker">
                                </vue-bootstrap-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Other" class="tabcontentRight">
                <h3>Other</h3>
                <p>Empty</p>
            </div>
        </div>

    </div>

    <!--Script-->
    <script src="Scripts/lodash.js"></script>
    <script src="Scripts/vue.js"></script>
    <script src="Scripts/vue-bootstrap-table.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="public/scriptForTabs.js"></script>
    <script src="public/vue_Script.js"></script>
</body>

</html>