<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>SEProject</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/style.css">
    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div id="app">  
	
        <div>
            <nav class="navbar navbar-inverse">
                <div class="row">
                    <div class="col-sm-4">

                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">SEProject</a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li><a href="#">Tool Library</a></li>
                                <li class="active"><a href="#">Machines</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" v-model="searchString" />
                    </div>
                    <div class="col-sm-4">
                        <select v-model="SelectMachine">
                            <option value="all" checked>All</option>
                            <option v-for="machine in uniqueMachines">{{machine}}</option>
                        </select>
                    </div>
                </div>
            </nav>
        </div>
        <!--Machines-->
        <div class="col-sm-4">
           <input class="searchbox" placeholder="Search tools" type="text" v-model="searchString"></input></br>
            <div>
			<div  class="row"></br>
			</div>
                <table class='table table-hover'>
                    <tr>
                        <th>Tool</th>
                        <th>Tool Category</th>
                        <th>Hit Count</th>
                    </tr>
                    <!--Tool table content-->

                    <tr v-for="machine in filtered">
                        <td>{{machine.tName}}</td>
                        <td>{{machine.tCategory}}</td>
                        <td>{{machine.hitCount}}</td>
                    </tr>
                </table>
            </div>
			
        </div>
        <!--Machine's tools-->
        <div class="col-sm-4">
           <input class="searchbox" placeholder="Search toolInfo" type="text" v-model="searchString"></input></br>
		   <div  class="row"></br>
				<div class="col-sm-4"><button id="bt1" type="button">Detail</button></div>
				<div class="col-sm-4"><button id="bt2" type="button">Component</button></div>
				<div class="col-sm-4"><button id="bt3" type="button">Other</button></div>
			</div>
            <div>
                <table class='table table-hover'>
                    <tr>
                        <th>Tool</th>
                        <th>Tool Category</th>
                        <th>Hit Count</th>
                    </tr>
                    <!--Tool table content-->
                   
                        <tr v-for="machine in filtered">					
                            <td>{{machine.tName}}</td>
                            <td>{{machine.tCategory}}</td>
                            <td>{{machine.hitCount}}</td>						
                        </tr>                    
                </table>
            </div>
        </div>
		
		
        <!--Tool details-->
        <div class="col-sm-4">		
            <h3 style="display:inline">Details</h3>
			
			<div  class="row"></br>
				<div class="col-sm-5"><button id="bt" type="button">Edit</button></div>
			</div>
			
			<div  class="row"></br>
				<div class="col-sm-2"><label>ID</label></div>
				<div class="col-sm-10"><input type="text" id="namebox" value="Toolname 1"></div>
			</div>
			
			<div  class="row"></br>
				<div class="col-sm-2"><label>Type</label></div>
				<div class="col-sm-5"><input type="text" id="namebox" value="Punching | Forming | Wheel"></div>
				<div class="col-sm-5"><input type="text" id="namebox" value="Square | Round | Rectangle"></div>
			</div>
			
			<div  class="row"></br>
				<div class="col-sm-2"><label>Heatcount</label></div>
				<div class="col-sm-10"><input type="text" id="namebox" value="A | B | C | D | E"></div>
			</div>
			
			<div  class="row"></br>
				<div class="col-sm-2"><label>Notes</label></div>
				<div class="col-sm-10"><input type="text" id="notebox" value=""></div>
			</div>
		</div>
    </div>
    <!--Script-->


    <script src="Scripts/lodash.js"></script>
    <script src="Scripts/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="public/script.js"></script>
</body>

</html>
